a {
  text-decoration: none;
  color: white;
}

.app-name {
  font-family: Pacifico, sans-serif;
}

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 100;
}

.bottom-spacer {
  margin-top: 80px;
}
